<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.editors">
      <editor
            name="Sad Analyzer Editor"
            extensions="sada"
            icon="icons/sada-icono.png"
            contributorClass="edu.isistan.sadanalyzer.editor.SadAnalyzerEditorContributor"
            class="edu.isistan.sadanalyzer.editor.SadAnalyzerEditor"
            id="edu.isistan.sadanalyzer.editor.SadAnalyzerEditor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            name="SAD Analyzer Wizards"
            id="edu.isistan.sadanalyzer">
      </category>
      <wizard
            name="Sad Analyzer file"
            icon="icons/sada-icono.png"
            category="edu.isistan.sadanalyzer"
            class="edu.isistan.sadanalyzer.wizards.SadAnalyzerWizard"
            id="edu.isistan.sadanalyzer.wizards.SadAnalyzerWizard">
      </wizard>
   </extension>
</plugin>
