<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http:///edu/isistan/uima/unified/typesystems/nlp.ecore"
            class="edu.isistan.uima.unified.typesystems.nlp.NLPPackage"
            genModel="model/uima.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http:///edu/isistan/uima/unified/typesystems/srl.ecore"
            class="edu.isistan.uima.unified.typesystems.srl.SRLPackage"
            genModel="model/uima.genmodel"/>
   </extension>
   
      <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http:///edu/isistan/uima/unified/typesystems/srs.ecore"
            class="edu.isistan.uima.unified.typesystems.srs.SRSPackage"
            genModel="model/uima.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http:///edu/isistan/uima/unified/typesystems/wordnet.ecore"
            class="edu.isistan.uima.unified.typesystems.wordnet.WordNetPackage"
            genModel="model/uima.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http:///edu/isistan/uima/unified/typesystems/domain.ecore"
            class="edu.isistan.uima.unified.typesystems.domain.DomainPackage"
            genModel="model/uima.genmodel"/>
   </extension>
   
   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http:///uima/cas.ecore"
            class="uima.cas.CasPackage"
            genModel="model/uima.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http:///uima/tcas.ecore"
            class="uima.tcas.TCasPackage"
            genModel="model/uima.genmodel"/>
   </extension>

</plugin>
